/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}

h4 {
  width: 100%;
  color: #333;
  font-size: 16px;
  border-bottom: 1px solid #aaa;
}
.header-info {
  color: #666;
  font-size: 60%;
  margin-top: -5px;
  margin-bottom: 15px;
}
.db-entry-header {
  margin-top: 10px;
  margin-bottom: 2px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
.footer-container {
  width: auto;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}
.footer-brapi {
  float: left;
}
.footer-source {
  float: right;
}

.container {
  width: auto;
  max-width: 800px;
  padding: 0 15px;
}

.well {
  margin: 5px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 15px;
}

#database-settings {
  margin-top: 25px;
  display: none;
}

#cache-loading-info, #cache-available-info, #cache-unavailable-info {
  display: none;
}

#cache-loading-info-icon {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.custom-switch {
  margin: 10px 0;
}
.search-option-info {
  margin-top: -5px;
}
.search-option-info:hover {
  cursor: pointer;
}

#searching-container {
  display: none;
  text-align: center;
  margin: 50px;
}
#searching-status {
  height: 48px !important;
}

#results-container {
  display: none;
}

.match-badge {
  margin-left: 5px;
  font-weight: normal;
}

#error-container {
  display: none;
  text-align: center;
  margin: 50px;
}

#brapi-logo {
  max-height: 20px;
  margin-top: -5px;
}
#github-logo {
  max-height: 30px;
  margin-top: -7px;
}

#info-alert {
  display: none;
}
#info-alert-button {
  margin: -5px -5px 10px 10px;
}